[Unit]
Description=Unlocks more CPUs for critical system processes during container startup

[Service]
Type=simple
ExecStart=/usr/local/bin/accelerated-container-startup.sh

[Install]
WantedBy=multi-user.target
