[Unit]
Description=Unlocks more CPUs for critical system processes during container startup
After=kubelet.service

[Service]
Type=simple
ExecStart=/usr/local/bin/accelerated-container-startup.sh
